---
import Layout from '~/layouts/PageLayout.astro';
const metadata = {
  title:
    'Informace o zpracování osobních údajů',
};
import { contactData } from '~/CONTACT';
const {name, email, address, ICO, phone} = contactData;
---

<Layout metadata={metadata}>
  <section class="py-10 lg:py-12 cs-container">
    <div class="mx-auto mt-20 max-w-5xl">
      <h1 class="my-4 text-[#23455d] text-4xl">INFORMACE O ZPRACOVÁNÍ OSOBNÍCH ÚDAJŮ</h1>

      <h2 class="mt-4 text-[#23455d] text-2xl">Kdo zpracovává Vaše osobní údaje?</h2>
      <p>
        Vaše osobní údaje zpracováváme my &#45; {name} - Adresa: {address}, IČO: {ICO}, tel.: {phone}, e-mail: {email}.
      <p>
        S&nbsp;Vašimi osobními údaji též pracují naši zprostředkovatelé: společnost Google LLC, Hotjar Limited, Facebook
        Inc., avšak jen v&nbsp;případě, že jste nám udělili souhlas na zpracování osobních údajů prostřednictvím služeb,
        které tyto společnosti poskytují na naší stránce.
      </p>
      <h2 class="mt-4 text-[#23455d] text-2xl">U&nbsp;koho se můžete informovat, co a&nbsp;jak o&nbsp;Vás zpracováváme?</h2>
      <p>
        V&nbsp;případě jakýchkoli otázek týkající se zpracování Vašich osobních údajů na naší stránce nás můžete kontaktovat
        na e-mailové adrese: {email}.
      </p>
      <h2 class="mt-4 text-[#23455d] text-2xl">Jaké údaje o&nbsp;Vás zpracováváme?</h2>
      <p>
        Zpracováváme jen takové osobní údaje, abychom Vám poskytovali profesionální služby. V případě, že Vaše osobní údaje
        zpracováváme na základě souhlasu, seznam, resp. rozsah údajů je přesně uvedený přímo v souhlase, a to v&nbsp;míře
        potřebné na splnění účelu, na který jsou osobní údaje zpracovávané.
      </p>
      <h2 class="mt-4 text-[#23455d] text-2xl">Zpracováváme hlavně tyto osobní údaje:</h2>
      <p>
        <strong>Kontaktní údaje</strong><br />
        emailová adresa
      </p>
      <p>
        <strong>Cookie</strong><br />
        Pokud jste nám při používaní naší stránky udělili souhlas na zpracování osobních údajů, zpracováváme o&nbsp;Vás údaje
        i prostřednictvím souborů cookie.
      </p>
  
      <p>
        Naše stránka pracuje i se soubory cookie, které jsou nevyhnutné na její správnou funkci
        a&nbsp;prostřednictvím kterých o&nbsp;Vás nezpracováváme žádné osobní údaje, a&nbsp;tedy ve vztahu k&nbsp;používání
        těchto souborů není potřebný Váš souhlas s&nbsp;jejich použitím na naší stránce.
      </p>
      <h2 class="mt-4 text-[#23455d] text-2xl">Na co Vaše osobní údaje potřebujeme?</h2>
      <p>
        Správce je oprávněn zpřístupnit osobní údaje smluvně pověřeným zpracovatelům, kteří se zasílání obchodních sdělení a
        provozu příslušných informačních systémů. Správce učiní veškeré potřebné kroky k tomu, aby zajistil přesnost
        zpracovávaných osobních údajů a jejich řádné použití, a také přijme vhodná technická a organizační opatření pro
        zabezpečení celého zpracování.
      </p>
      <p>
        Vaše osobní údaje zpracované prostřednictvím služby Google Analytics a&nbsp;Hotjar potřebujeme na analýzu
        návštěvnosti naší webové stránky, a&nbsp;tedy obzvláště na ověření toho, zdali je naše stránka pro Vás a&nbsp;jiné
        uživatele stále zajímavá a&nbsp;neklesá její návštěvnost.
      </p>
      <p>
        Vaše osobní údaje zpracované prostřednictvím služeb Google AdWords, Google DoubleClick, Google AdSense
        a&nbsp;Facebook Pixel potřebujeme na personalizaci reklamy, a&nbsp;teda hlavně na to, abychom věděli zabezpečit, že
        se reklama naší webové stránky bude zobrazovat hlavně těm uživatelům, kteří by mohli mít o&nbsp;náš obsah, služby a
        produkty zájem.
      </p>
      <p>
        Vaše osobní údaje, které zpracováváme na základě Vašeho souhlasu zpracováváme jen na tyto účely s&nbsp;tím, že je k
        dosáhnutí účelu zpracování můžeme poskytnout společnostem Google LLC, Hotjar Limited, Facebook Inc., které poskytují
        služby, prostřednictvím kterých jsou Vaše údaje získávané.
      </p>
      <p>
        Vaše osobní údaje zpracováváme automatizovanými prostředky, přičemž při jejich zpracování nedochází k
        automatizovanému individuálnímu rozhodování a profilování podle čl. 22 nařízení Evropského parlamentu a Rady (EÚ) č.
        2016/679.
      </p>
      <h2 class="mt-4 text-[#23455d] text-2xl">Jak můžete Váš souhlas odvolat?</h2>
      <p>
        Souhlas se zpracováním osobních údajů můžete kdykoli odvolat. Pokud už nesouhlasíte s&nbsp;tím, abychom zpracovávali
        Vaše osobní údaje, stačí, pokud napíšete na naši e-mailovou adresu: <a
          href="mailto:zamecnictvi-vondracek@seznam.cz"
          target="_blank"
          rel="noopener noreferrer">zamecnictvi-vondracek@seznam.cz</a
        >. Samozřejmě, odvolání Vašeho souhlasu nebude mít zpětný vliv na zákonnost zpracování Vašich osobních údajů od
        udělení souhlasu po jeho odvolání z&nbsp;Vaší strany.&nbsp;Současně berete na vědomí, že i po odvolání svého
        souhlasu, na základě něhož již došlo k odeslání obchodních sdělení, je Správce oprávněn zpracovávat vaše osobní
        údaje na základě oprávněného zájmu k tomu, aby by byl schopen prokázat, že jste takové sdělení odeslali oprávněně, a
        to maximálně po dobu třech let let od ukončení zasílání.
      </p>
      <h2 class="mt-4 text-[#23455d] text-2xl">Na koho se můžete obrátit v&nbsp;případě problému?</h2>
      <p>
        V&nbsp;případě, že se domníváte, že jsme porušili Vaše práva v&nbsp;oblasti ochrany osobních údajů, můžete nás
        kontaktovat na e-mailové adrese: <a
          href="mailto:zamecnictvi-vondracek@seznam.cz"
          target="_blank"
          rel="noopener noreferrer">zamecnictvi-vondracek@seznam.cz</a
        >.
      </p>
      <p>
        Anebo můžete kontaktovat Úřad pro ochranu osobních údajů, Pplk. Sochora 27, 170 00 Praha 7, telefon: +420 234 665
        111.
      </p>
      <h2 class="mt-4 text-[#23455d] text-2xl">Jak dlouho u&nbsp;nás budou uložené Vaše osobní údaje?</h2>
      <p>
        Vaše osobní údaje uchováváme pro čas nevyhnutný na splnění účelu, pro který byli zpracované, nejdéle však do zániku
        naší společnosti, anebo našeho posledního právního nástupce jako subjektu práva v&nbsp;případě, že dojde
        k&nbsp;našemu/jeho zániku bez dalšího právního nástupce.
      </p>
      <h2 class="mt-4 text-[#23455d] text-2xl">Jaké máte práva?</h2>
      <p>V&nbsp;souvislosti s&nbsp;ochranou osobních údajů máte následovná práva:</p>
      <ul>
        <li>
          <b>právo na přístup k&nbsp;Vašim osobním údajům</b>, máte právo žádat od nás potvrzení, pokud o Vás zpracováváme
          osobní údaje, které se Vás týkají a v případě, že Vaše údaje zpracováváme, máte právo získat přístup k těmto
          osobním údajům a&nbsp;podrobné informace o&nbsp;všech skutečnostech, které souvisí se zpracováním těchto osobních
          údajů (Vaše právo na přístup k&nbsp;osobním údajům upravuje&nbsp; čl. 15 nařízení Evropského parlamentu
          a&nbsp;Rady (EÚ) č. 2016/679). Na Vaše požádaní jsme povinní poskytnout Vám Vaše osobní údaje, které o&nbsp;Vás
          zpracováváme, přičemž za opakované poskytnutí těchto údajů jsme oprávnění od Vás požadovat zaplacení přiměřeného
          poplatku zodpovídajícího administrativním nákladům;
        </li>
        <li>
          <b>právo na opravu osobních údajů</b>, a&nbsp;to na opravu nesprávných údajů, které se Vás týkají, případně
          doplnění neúplných osobních údajů (Vaše právo na opravu osobních údajů upravuje&nbsp;čl. 16 nařízení Evropského
          parlamentu a&nbsp;Rady (EÚ) č. 2016/679);
        </li>
        <li>
          <b>právo na výmaz osobních údajů</b> (Vaše právo na výmaz osobních údajů upravuje&nbsp;čl. 17 nařízení Evropského parlamentu
          a&nbsp;Rady (EÚ) č. 2016/679), pokud:<br />
          (a) osobní údaje už nejsou potřebné na účel, na který jsme je získali anebo jinak zpracovali,<br />
          (b) osobní údaje zpracováváme nezákonně,<br />
          (c) odvoláte nám souhlas se zpracováním osobních údajů a&nbsp;neexistuje jiný právní základ pro zpracování osobních
          údajů,<br />
          (d) namítáte na zpracování osobních údajů a&nbsp;nepřevažují žádné oprávněné důvody na zpracování osobních údajů anebo
          namítáte na zpracování osobních údajů podle § 27 ods. 2 zákona č. 18/2018 Z.z. o&nbsp;ochraně osobních údajů a&nbsp;o&nbsp;změně
          a&nbsp;doplnění některých zákonů, (e) je důvodem pro výmaz splnění povinnosti podle zákona č. 18/2018 Z.z. o&nbsp;ochraně
          osobních údajů a&nbsp;o&nbsp;změně a&nbsp;doplnění některých zákonů, osobitého předpisu anebo mezinárodní smlouvy,
          kterou je Slovenská republika vázaná anebo,<br />
          (f) se osobní údaje získávali v&nbsp;souvislosti s&nbsp;nabídkou služeb informační společnosti podle § 15 ods. 1 zákona
          č. 18/2018 Z.z. o&nbsp;ochraně osobních údajů a&nbsp;o&nbsp;změně a&nbsp;doplnění některých zákonů.Právo na výmaz Vašich
          osobních údajů nemůžete uplatnit v&nbsp;případě, že:<br />
          (a) je zpracování osobních údajů potřebné na uplatnění právního nároku,<br />
          (b) na uplatnění práva na svobodu projevu anebo práva na informace,<br />
          (c) na splnění povinnosti podle zákona č. 18/2018 Z.z. o&nbsp;ochraně osobních údajů a&nbsp;o&nbsp;změně a&nbsp;doplnění
          některých zákonů, nařízení Evropského parlamentu a&nbsp;Rady (EÚ) č. 2016/679, osobitého předpisu anebo mezinárodní
          smlouvy, kterou je Slovenská republika vázaná, anebo na splnění úlohy realizované ve veřejném zájme anebo při výkonu
          veřejné moci svěřené tomu, kdo osobní údaje zpracovává,<br />
          (d) z&nbsp;důvodů veřejného zájmu v&nbsp;oblasti veřejného zdraví v&nbsp;souladu s § 16 ods. 2 písm. h) až j) zákona
          č. 18/2018 Z.z. o&nbsp;ochraně osobních údajů a&nbsp;o&nbsp;změně a&nbsp;doplnění některých zákonů, (e) na účel archivace,
          na vědecký účel, na účel historického výzkumu anebo na statistický účel podle § 78 ods. 8 zákona č. 18/2018 Z.z. o&nbsp;ochraně
          osobních údajů a&nbsp;o&nbsp;změně a&nbsp;doplnění některých zákonů, pokud je pravděpodobné, že by Vaše právo znemožnilo
          anebo závažným způsobem stěžilo dosáhnutí cílů takového zpracování;
        </li>
        <li>
          <b>právo na omezení zpracování osobních údajů </b>(Vaše právo na omezení zpracování osobních údajů upravuje čl. 18
          nařízení Evropského parlamentu a&nbsp;Rady (EÚ) č. 2016/679), pokud<span class="Apple-converted-space"
            ><br />
          </span>(a) namítáte na správnost osobních údajů, a&nbsp;to v průběhu období umožňujícího nám ověřit správnost
          osobních údajů,<br />
          (b) zpracování osobních údajů je nezákonné a&nbsp;Vy namítáte vymazání osobních údajů a&nbsp;žádáte namísto toho omezení
          jejich použití,<br />
          (c) už nepotřebujeme osobní údaje na účel zpracování osobních údajů, ale potřebujete je Vy na uplatnění právního nároku,
          anebo,<br />
          (d) namítáte na zpracování osobních údajů podle § 27 ods. 1 zákona č. 18/2018 Z.z. o&nbsp;ochraně osobních údajů a&nbsp;o&nbsp;změně
          a&nbsp;doplnění některých zákonů a&nbsp;čl. 21 odst. 1 nařízení Evropského parlamentu a&nbsp;Rady (EÚ) č. 2016/679.<br
          />
          Pokud došlo k&nbsp;omezení zpracování osobních údajů, můžeme kromě uchovávání osobních údajů osobní údaje zpracovávat
          jen s&nbsp;Vašim souhlasem anebo na účely uplatnění právního nároku, na ochranu osob anebo z&nbsp;důvodů veřejného
          zájmu;
        </li>
        <li>
          <b>právo namítat na zpracování osobních údajů </b>(Vaše právo namítat na zpracování osobních údajů upravuje čl. 21
          nařízení Evropského parlamentu a&nbsp;Rady (EÚ) č. 2016/679),<b> </b>pokud dochází ke&nbsp;zpracování osobních
          údajů na základě právního základu<b> </b>podle čl. 6 odst. 1 písm. e) anebo f) nařízení Evropského parlamentu
          a&nbsp;Rady (EÚ) č. 2016/679. V&nbsp;takovém případě provozovatel nesmí zpracovávat osobní údaje, pokud neprokáže
          nevyhnutné oprávněné zájmy na zpracování osobních údajů, které převažují nad Vašimi právy anebo zájmy, anebo
          důvody na uplatnění právního nároku;
        </li>
        <li>
          <b>právo na přenosnost osobních údajů </b>(Vaše právo na přenosnost osobních údajů upravuje čl. 20 nařízení
          Evropského parlamentu a&nbsp;Rady (EÚ) č. 2016/679),<b> </b>a&nbsp;to v&nbsp;strukturovaném, běžně používaném
          a&nbsp;strojově sčitatelném formátu, přičemž máte právo přenést tyto osobní údaje jinému provozovatelovi, pokud je
          to technicky možné a&nbsp;pokud se zpracování vykonává automatizovanými prostředky a&nbsp;probíhá na základě
          právního základu čl. 6 odst. 1 písm. a) anebo písm. b) nařízení Evropského parlamentu a&nbsp;Rady (EÚ) č.
          2016/679, t.j. pokud zpracováváme osobní údaje na základe Vašeho souhlasu anebo z&nbsp;důvodu plnění smlouvy,
          případně smluvní povinnosti.
        </li>
      </ul>
      <h2 class="mt-4 text-[#23455d] text-2xl">Musíte nám Vaše osobní údaje poskytnout?</h2>
      <p>
        Vaše osobní údaje jste nám poskytli dobrovolně na základě Vašeho svobodného souhlasu, přičemž jste nebyli povinní
        nám takovýto souhlas se zpracováním osobních údajů udělit.
      </p>
      <h2 class="mt-4 text-[#23455d] text-2xl">Budeme Vaše osobní údaje přenášet do třetích krajin?</h2>
      <p>
        Realizace námi poskytovaných služeb vyžaduje spolupráci s&nbsp;už zmíněnými společnostmi. To znamená, že Vaše osobní
        údaje mohou být přenesené do třetích krajin. K&nbsp;předávání však vždy dochází v&nbsp;souladu s&nbsp;legislativními
        požadavky, které na tento přenos klade nařízení Evropského parlamentu a&nbsp;Rady (EÚ) č. 2016/679, přičemž
        je&nbsp;v&nbsp;každém případě zabezpečená ochrana Vašich osobních údajů. Konkrétně se jedná o&nbsp;servery, cloudové
        řešení příslušných společností Google LLC, Hotjar Limited, Facebook Inc..
      </p>
    </div>
  </section>
  
</Layout>