---
const {
  title = await Astro.slots.render('title'),
  // subtitle = await Astro.slots.render('subtitle'),
  // tagline,

  // content = await Astro.slots.render('content'),
  // actions = await Astro.slots.render('actions'),
  // //Image is imported this way: import HeroImage from "~/assets/images/hero-min.png" and passed to the component like this: image={HeroImage.src}
  image = await Astro.slots.render('image'),

  id,
} = Astro.props;
import LogoImage from '~/assets/images/smrtak.png';
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';
import { contactData } from '~/CONTACT';
const {phone, email} = contactData;
---

<section
  id={id}
  class="relative items-center gap-5 grid grid-cols-1 md:grid-cols-12 bg-cover bg-center px-6 md:px-12 lg:px-20 py-16 w-full min-h-[50vh] md:min-h-[60vh] lg:min-h-[70vh] 2xl:min-h-[90vh] xl:min-h-[80vh] text-white"
  style={`background-image: url('${image}')`}
>
  <!-- Gradient Overlay -->
  <div class="z-0 absolute inset-0 bg-gradient-to-b from-[rgba(255,27,220,0.2)] to-[rgba(16,86,165,0.2)]"></div>

  <div
    class="z-10 relative gap-4 md:gap-8 grid grid-cols-1 md:grid-cols-12 col-span-1 md:col-span-6 bg-white bg-opacity-90 shadow-2xl p-5 rounded-lg max-w-4xl text-black md:text-left text-center"
  >
    <div class="justify-center items-center col-span-1 md:col-span-7 align-middle reaper-container">
      {
        title && (
          <p class="mb-10 font-[Great] font-bold text-slate-700 text-3xl md:text-5xl leading-tight">
            Kdy kontaktovat Bukyho?
          </p>
        )
      }
      <ul class="w-full text-left">
        <li class="flex flex-row items-center gap-1 mt-4 text-xl md:text-2xl">
          <Icon name="tabler:circle-check" class="text-purple-600 text-3xl" />Renovace odpadního potrubí
        </li>
        <li class="flex flex-row items-center gap-1 mt-4 text-xl md:text-2xl">
          <Icon name="tabler:circle-check" class="text-purple-600 text-3xl" />Tlakové čištění odpadů
        </li>
        <li class="flex flex-row items-center gap-1 mt-4 text-xl md:text-2xl">
          <Icon name="tabler:circle-check" class="text-purple-600 text-3xl" />Frézování kanalizace
        </li>
        <li class="flex flex-row items-center gap-1 mt-4 text-xl md:text-2xl">
          <Icon name="tabler:circle-check" class="text-purple-600 text-3xl" />Kamerový monitoring potrubí
        </li>
        <li class="flex flex-row items-center gap-1 mt-4 text-xl md:text-2xl">
          <Icon name="tabler:circle-check" class="text-purple-600 text-3xl" />Bezvýkopové opravy
        </li>
      </ul>
    </div>
<div class="flex flex-col items-center col-span-1 md:col-span-5">
  <Icon name="tabler:mail" class="hidden md:block self-center mt-10 text-gray-600 bounce" style={{
    fontSize: '8rem',
    transform: 'rotate(10deg)',
  }}/>
  <br>
  <a href="mailto:info@buky.cc" class="self-center bg-slate-700 mx-auto border-2 border-white text-white btn">{email}</a>
</div>

  </div>

  <div
    class="z-10 relative flex flex-col justify-center items-center col-span-1 md:col-span-6 bg-opacity-80 p-4 rounded-lg max-w-2xl"
  >
    <!-- {title && <h1 class="font-[Great] font-bold text-4xl md:text-5xl leading-tight">{title}</h1>}
    {subtitle && <h2 class="mt-4 text-xl md:text-2xl">{subtitle}</h2>}
    {tagline && <p class="mt-2 text-lg italic">{tagline}</p>}
    {content && <div class="mt-6">{content}</div>}
    {actions && <div class="flex flex-wrap gap-4 mt-6">{actions}</div>} -->
    <Image
      src={LogoImage}
      alt="Buky.cc - oficiální logo"
      class="self-center shadow-inner mx-auto w-full h-full reaper"
    />
    <a href={`tel:${phone}`} class="self-center bg-slate-700 mx-auto border-2 border-white text-white btn">
      {phone}
    </a>
  </div>
</section>
